body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgb(117, 116, 116), rgb(0, 0, 0));
}

.container{
    display: grid;
    grid-template-areas:
    "header header header header "
    "left midCen midCen midCen"
    "left midCen midCen midCen"
    "left midLow midLow midLow" ;
    gap: 20px;
}

.nav{
    font-family: 'Roboto', sans-serif;
    grid-area: header;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
    background-color: rgb(141, 135, 135);

}
.nav h1{
    margin-left: 30px;
}
.nav h3{
    margin-right: 30px;
    
}
.block{
    position: absolute;
    color: blanchedalmond;
    font-weight: 500;
    transform: translate(0,0 );
    animation: slide 30s infinite alternate;
}
@keyframes slide {
    0%{
        color: blanchedalmond;
        transform: translate(0vw, 0);
    }
    20%{
        transform: translate(-30vw, 0vw);
        color: black;
    }
    
    40%{

        color: blanchedalmond;
        transform: translate(0 ,0 );
    }
    60%{
        color: blanchedalmond;
        transform: translate(30vw , 0);
    }
    80%{
        color: blanchedalmond;
        transform: translate(0, 0vw);
    }
    
    100%{
        color: black;
        transform: translate(-30vw,0 );
    }
    
}



.text a:hover{
    background-color:blanchedalmond;
    color: black;
    border-bottom: black;
    padding:20px 20px;
}
.bestM{
    /* display: flex;
    flex-wrap: wrap; */
    grid-area: midCen;
    justify-content: center;
    margin: 0 auto ;
    color: blanchedalmond;
}

.bestM h3{
    border-bottom: blanchedalmond 1px solid;
    font-size: 30px;
}


.top3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    grid-area: midLow;   
    margin-bottom: 10px;
}

.top3 img{
    width: 100%;
    
}.top3 p{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    padding: 10px;
}
/* 
.bm1, .bm2, .bm3{
    border: none;
    border-radius: 10px;
    box-shadow:0 3px 10px rgba(0, 0, 0, 0.2);
    width: 20%;
    background-color: black;
    color: blanchedalmond;
} */

.bestM img{

    width: fit-content;
}
.bestMoiesImg{
    height: 400px;
    width: 1000px;
    background-image: url("imgs/movies1.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    animation: switch 60s infinite linear alternate;

}
@keyframes switch {
    
    25%{
        background-image: url("imgs/movies2.jpg");
    }
    50%{
        background-image: url("imgs/movies3.jpg");
    }
    75%{
        background-image: url("imgs/movies4.jpg");
    }
    100%{
        background-image: url("imgs/movies1.jpg");
    }
}


/* dropdown */

.categoreis{
    grid-area: left;
}

.dropbtn{
    position: fixed;
    background-color: rgb(141, 135, 135);
    border: 1px solid blanchedalmond;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding:10px 20px ;
    font-family: 'Roboto', sans-serif;
    color:blanchedalmond;
   
}
.categories{
    position: relative;
    display: inline-block;
}
.drop-content{
    display: none;
    position: fixed;
    margin-top: 40px;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.drop-content a{
    display: block;
    text-decoration: none;
    padding-bottom: 1%;
}
.drop-content a:hover{
    background-color: rgb(141, 135, 135);
}
.categories:hover .drop-content{
    display: block;

}
.categories:hover .dropbtn {
    background-color: rgb(141, 135, 135);

}
a{
    text-decoration: none;
    color: blanchedalmond;
    cursor: pointer;
}

.btnWatch{
    border: 1px black solid;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
    position: relative;
    overflow: hidden;
    transition: 0.8s;
}
.btn1{
    color: blanchedalmond;
}
.btn1:hover{
    color: black;
    background-color: blanchedalmond;
}






/* utiil */
.text-cen{
    text-align: center;
}

/* Action */
.container1{
    display: grid;
    grid-template-areas:
    "header header header header "
    "left midCen midCen midCen"
    "left midLow midLow midLow"
    "left midLow midLow midLow"
    "left midLow midLow midLow";
    gap: 20px;
}





/* dropdown2 */
.categoreis1{
    grid-area: left;
}

.dropbtn1{
    position: fixed;
    background-color: rgb(141, 135, 135);
    border: 1px solid blanchedalmond;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding:10px 20px ;
    font-family: 'Roboto', sans-serif;
    color:blanchedalmond;
   
}
.categories1{
    position: relative;
    display: inline-block;
}
.drop-content1{
    display: none;
    position: fixed;
    margin-top: 40px;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.drop-content1 a{
    display: block;
    text-decoration: none;
    padding-bottom: 1%;
}
.drop-content1 a:hover{
    background-color: rgb(141, 135, 135);


}
.categories1:hover .drop-content1{
    display: block;

}
.categories1:hover .dropbtn1 {
    background-color: rgb(141, 135, 135);

}

/* actionMovies */

.actionMovies{
    grid-area: midLow;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.card{
    border: none;
    border-radius: 0 0 10px 10px;
    box-shadow:0 3px 10px rgba(0, 0, 0, 0.2);
    width: 20%;
    background-color: black;
    color: blanchedalmond;
    margin: 1% 5%;
}
.card p{
    padding: 0 10px;
}

.card img{
 width: 100%;   
}
.card img:hover{
    transform: scale(0.98);   
}

.card h4{
    padding: 0 5px;
}

/* 
.ba1, .ba2, .ba3{
    border: none;
    border-radius: 10px;
    box-shadow:0 3px 10px rgba(0, 0, 0, 0.2);
    width: 20%;
    background-color: black;
    color: blanchedalmond;
} */

.top3Action{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    grid-area: midCen;   
    margin-bottom: 10px;
}
.top3Action img{
    width: 100%;
}


.nav1{
    font-family: 'Roboto', sans-serif;
    grid-area: header;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
    background-color: rgb(141, 135, 135);

}
.nav1 h1{
    margin-left: 30px;
}
.nav1 h3{
    margin-right: 30px;
    
}

/* Contect Us */

.papatainer{
    height: 100vh;
    display: grid;
    grid-template-areas:"header header" "left right";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:7% repeat(2, 1fr);
    justify-content: center;
    align-items: center;
} 
.container2{
    display: flex;
    flex-wrap: wrap;
    grid-area: left;
    justify-content: space-around;
 
}
.container3{
    display: flex;
    flex-wrap: wrap;
    grid-area: right;
    flex-direction: column;
    justify-content: center;
 
}


.card2{
    border: none;
    border-radius: 5px;
    box-shadow:0 3px 10px rgba(0, 0, 0, 0.2);
    width: 40%;
    height: fit-content;
    background-color: whitesmoke;
    color: black;
    margin: 1% 5%;
}
.card2 p{
    padding: 0 10px;
}

.card2 h2{
    padding: 0 10px;
    margin-top: 20px;
}

.padd{
    padding: 10px;
}
.box3{
    margin-bottom: 20px;
}
.btnWatch2{
    border: 1px black solid;
    border-radius: 5px;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
    position: relative;
    overflow: hidden;
    transition: 0.8s;
}
.btn2{
    color: black;
}
.btn2:hover{
    color:whitesmoke;
    background-color: black;
}
